<head>
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
    <script src="/jquery/dist/jquery.slim.js"></script>
    <script src="/popper.js/dist/popper.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
