<!DOCTYPE html>
<html>
  
<% include head %>
  
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"><a class="navbar-brand" href="/">Navbar</a>
      <button class="navbar-toggler"
      type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <% for(var i=0; i<nav.length; i++) { %>
	<li class="<%= title== nav[i].label ? "nav-item active" :  "nav-item" %>">
	        <a class="nav-link" href='<%= nav[i].ref %>'>
	                <%= nav[i].label %>
                </a>
        </li>
    <% } %>
       </ul>
      </div>
    </nav>
	<div class="card card-body bg-light">
        <h1><%= title %></h1>
	</div>
  </body>

</html>
